<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.rem.mapper.SalaryMapper">
    <resultMap id="BaseResultMap" type="com.pro.rem.model.Salary">
        <constructor>
            <arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="bwage" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="housefund" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="reimbursement" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="paward" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="overtime" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="insur" jdbcType="REAL" javaType="java.lang.Float"/>
            <arg column="sastatus" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="smonth" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="syear" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sum" jdbcType="REAL" javaType="java.lang.Float"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.pro.rem.model.Salary">
    insert into salary (userid, bwage, housefund, 
      reimbursement, paward, overtime, 
      insur, sastatus, smonth, 
      syear, sum)
    values (#{userid,jdbcType=INTEGER}, #{bwage,jdbcType=REAL}, #{housefund,jdbcType=REAL}, 
      #{reimbursement,jdbcType=REAL}, #{paward,jdbcType=REAL}, #{overtime,jdbcType=REAL}, 
      #{insur,jdbcType=REAL}, #{sastatus,jdbcType=INTEGER}, #{smonth,jdbcType=INTEGER}, 
      #{syear,jdbcType=INTEGER}, #{sum,jdbcType=REAL})
  </insert>
    <insert id="insertSelective" parameterType="com.pro.rem.model.Salary">
        insert into salary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="bwage != null">
                bwage,
            </if>
            <if test="housefund != null">
                housefund,
            </if>
            <if test="reimbursement != null">
                reimbursement,
            </if>
            <if test="paward != null">
                paward,
            </if>
            <if test="overtime != null">
                overtime,
            </if>
            <if test="insur != null">
                insur,
            </if>
            <if test="sastatus != null">
                sastatus,
            </if>
            <if test="smonth != null">
                smonth,
            </if>
            <if test="syear != null">
                syear,
            </if>
            <if test="sum != null">
                sum,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="bwage != null">
                #{bwage,jdbcType=REAL},
            </if>
            <if test="housefund != null">
                #{housefund,jdbcType=REAL},
            </if>
            <if test="reimbursement != null">
                #{reimbursement,jdbcType=REAL},
            </if>
            <if test="paward != null">
                #{paward,jdbcType=REAL},
            </if>
            <if test="overtime != null">
                #{overtime,jdbcType=REAL},
            </if>
            <if test="insur != null">
                #{insur,jdbcType=REAL},
            </if>
            <if test="sastatus != null">
                #{sastatus,jdbcType=INTEGER},
            </if>
            <if test="smonth != null">
                #{smonth,jdbcType=INTEGER},
            </if>
            <if test="syear != null">
                #{syear,jdbcType=INTEGER},
            </if>
            <if test="sum != null">
                #{sum,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <!--通过员工id查询薪酬-->
    <select id="SelectById" resultType="java.util.Map" parameterType="java.util.Map">
        select a.*,b.username,c.deptName,b.level from salary a,user b ,dept c where a.userid=b.userid and c.deptid=b.fid and b.userid=#{userid}
    </select>
    <!--查询所有员工薪酬-->
    <select id="getAll" resultType="java.util.Map" parameterType="java.util.Map">
        select a.*,b.username,c.deptName,b.level from salary a,user b ,dept c where a.userid=b.userid and c.deptid=b.fid and c.deptName like #{deptName}
    </select>
</mapper>